*{
	margin: 0;
	padding: 0;
}



.mynav{
	background: #ffffff !important;
}

.logo_modify{
	margin-left: 70px;
	font-size: 2rem;
}

.modify a{
	margin-right: 10px;
}

.modify a:hover{
	border-bottom: 2px solid #0091EA;
	color: #0091EA !important;
}

.space_top{
	margin-top: 150px;
}

.btn-primary {
    color: #fff;
    background-color: #0091EA;
    border-color: #0091EA;
}

.button4 {
	border-radius: 8px;
	padding-right: 20px;
	padding-left: 20px;
}

.edge{
	border-radius: 24px;
	max-width: 100%;
  	height: auto;
}

.space_top2{
	margin-top: 80px;
}

.card1{
	width: 150px;
	height: 80px;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	opacity: 0.5;
}

.card2{
	width: 80px;
	margin: auto;
	opacity: 0.5;
	margin-bottom: -3px;
}


.iox_text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.015em;

	color: rgba(0, 0, 0, 0.8);
}



.about{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #5F5F5F;
}
